<html>
<head>
    <link rel="stylesheet"  href="/stylesheets/std.css">
    <meta id="sem" content=" <%= sems %> "/>
    <meta id="primary_key"  content = "<%= item[0].fty_id %>"/>
    <%if(item2.length!=0){
      var i=0;
       item2.forEach(function(data){   
        %>
    <meta id="bookid[<%=i%>]"  content = "<%= data.bookid %>"/>
    <% i++;}) %>
    <% } %> 
    <title>
        Book Search
    </title>
</head>
<body>

<header class="header" role="banner">
    <h1 class="logo">
      <a href="#">Departmental<span>
       Digital Inventory</span></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li><a href="/faculty_das" >Home</a></li>
          <li><a href="/fty-profile">Profile</a></li>
          <li><a href="/fty-search-panel"class="dash">Book Search</a></li>
          <li><a href="/fty-books-issued">Books issued</a></li>
          <li><a href="/fty-fine-cal">Calculate Fine</a></li>
          <li><a href="/fty-req-route">Request a Book</a></li>
          <li><a href="/fty-feedback-route">Feedback</a></li>
          <li><a href="/logout">Logout</a>
        </ul>
      </nav>

    </div>
  </header>
  
  <br><h1>Search books for Semester <%= sems %><br>
    <h1>Number of books issued: </h1><h1 id="count_val">0</h1>
    <div id="wrapper">

    </div>
    <script src="/javascripts/faculty-search.js"></script>
</body>
</html>
