<html>

<head>
  <link rel="stylesheet" href="./stylesheets/lib-req.css">

  <title> Librarian Dashboard</title>
</head>

<body>
  <header class="header" role="banner">
    <h1 class="logo">
      <a href="#">Departmental<span>
          Digital Inventory</span></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <li><a href="/admin_das" class="dash">Home</a></li>
          <li><a href="mang.html">Stock Manager</a></li>
          <li><a href="login.html">Student details</a>
          <li><a href="login.html">Faculty details</a>
          <li><a href="login.html">Books issued</a>
          <li><a href="/lib-feedback-route">Feedback responses</a>
          <li><a href="login.html">Support queries</a>
          <li><a href="/lib-req-route">Book requests</a>
          <li><a href="/logout">Logout</a>
        </ul>
      </nav>

    </div>
  </header>
  <section class="info">
    <div class="container">
        <ul class="responsive-table">
          <li class="table-header">
         
            <div class="col col-1">S.No</div>
            <div class="col col-2">Name</div>
            <div class="col col-3">Email</div>
            <div class="col col-4">Phone number</div>
            <div class="col col-5">Message</div>
          </li>          
         
          <li class="table-row">
            <% if(item.length!=0){ %>
            <%    var i=1; %>
             <%   item.forEach(function(data){   
                %>
            <div class="col col-1" data-label="S.No"><%=i; %></div>
            <div class="col col-2" data-label="name"><%=data.name %></div>
            <div class="col col-3" data-label="email_address"><%=data.email_address %></div>
            <div class="col col-4" data-label="book_name"><%=data.phone_number %></div>
            <div class="col col-5" data-label="description"><%=data.message %></div>
            <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
          </li>
  </section>

  
</body>

</html>