<html>
<head>
    <link rel="stylesheet"  href="/stylesheets/std.css">
    <meta id="sem" content=" <%= sems %> "/>
    <meta id="primary_key"  content = "<%= item[0].usn %>"/>
    <%if(item2.length!=0){
      var i=0;
       item2.forEach(function(data){   
        %>
    <meta id="bookid[<%=i%>]"  content = "<%= data.bookid %>"/>
    <% i++;}) %>
    <% } %> 
    <meta id="sembookscount"  content = "<%= data3.sembookscount %>"/>
    <meta id="issuecount"  content = "<%= data1[0].usncount %>"/>
    <title>
        Book Search
    </title>
</head>
<body>

<header class="header" role="banner">
    <h1 class="logo">
      <a href="#">Departmental<span>
       Digital Inventory</span></a>
    </h1>
    <div class="nav-wrap">
      <nav class="main-nav" role="navigation">
        <ul class="unstyled list-hover-slide">
          <header class="header" role="banner">
            <h2 class="logo">
              <a href="#">Departmental<span>
               Digital Inventory</span></a>
            </h2>
            <div class="nav-wrap">
              <nav class="main-nav" role="navigation">
                <ul class="unstyled list-hover-slide">
                    <li><a href="/std_das">Home</a></li>
                    <li><a href="/std-profile">Profile</a></li>
                    <li><a href="/std-search-panel" class="dash">Book Search</a></li>
                    <li><a href="/std-books-issued">Books issued</a></li>
                    <li><a href="/fine-cal">Calculate Fine</a></li>
                    <li><a href="/std-req-route">Request a Book</a></li>
                    <li><a href="/std-feedback-route">Feedback</a></li>
                    <li><a href="/logout">Logout</a>
                </ul>
              </nav>
              
            </div>
          </header>
        </ul>
      </nav>

    </div>
  </header>
     
  <br><h1>Search books for Semester <%= sems %><br>
    <h1>Number of books issued: </h1><h1 id="count_val"><%= data1[0].usncount %></h1>
    <div id="wrapper">

    </div>
    <script src="/javascripts/std.js"></script>
</body>
</html>
